# Dependencies
node_modules/
server/node_modules/
client/node_modules/

# Production builds & zips
client/dist/
*.zip

# Environment variables
.env
.env.local
.env.*.local
laravel-backend/.env

# Logs & temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db
